<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ '/_css_src/katex.css' | url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/_css_src/home.css' | url }}">
    <title>loose_goose: {{ title }}</title>
</head>
<body>
    <header>
        <span class = "logo">
            <a href = "/index.html">
            <img src="{{ '/assests/dither.jpg' | url }}" alt="dither" class= "dither">
            </a>
        </span>
        <nav>
            <ul class = "navi">
                <li><a href = "/about"> about </a> </li>
                <li><a href = "{{ '/map' | url }}">map</a></li>
                <li><a href = "{{ '/now' | url }}">now</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{content | safe}}
    </main>
</body>

<footer>
    2023 null
</footer>
</html>