---
layout: boilerplate.njk
---

<div class = "splash">
    <div class = "hero_img">
        <img src="{{ '/assests/tree.jpg' | url }}" alt="tree" class="tree">
    </div>
    <div class = "slugline">
        <h1>hi there! </h1>
        <p>This is a place for me to put some stuff, (a digital garden if you will).<br>Have a poke around!</p>
    </div>
    </div>
</div>

<!-- Seperating line -->
<hr class = "line">

<div class = "wiki">
    <details>
        <summary> <h1 style="display:inline;">Writings:</h1> </summary>
        <section>
            <ul>
            {% for blog in collections.blogs %}
            <li> <a href = "{{ blog.url }}index.html"> ~ {{ blog.data.title }} </a> </li>
            {%- endfor %}
            </ul>
        </section>
    </details>
    <details>
        <summary><h1 style="display:inline;">Experiments:</h1> </summary>
        <section>
            <ul>
            {% for project in collections.projects %}
            <li> <a href = "{{ project.url }}index.html"> ~ {{ project.data.title }} </a> </li>
            {%- endfor %}
            </ul>
        </section>
    </details>
    <details>
        <summary> <h1 style="display:inline;">Photo:</h1> </summary>
        <section>
            <ul>
            {% for photo in collections.photos %}
            <li> <a href = "{{ photo.url }}index.html"> ~ {{ photo.data.title }} </a> </li>
            {%- endfor %}
            </ul>
        </section>
    </details>
</div>

{{content | safe}}