---
layout: boilerplate.njk
---

<div class = "splash">
    <div class = "hero_img">
        <img src="{{ '/assests/tree.jpg' | url }}" alt="tree" class="tree">
    </div>
    <div class = "slugline">
        <h1>hi there! </h1>
        <p>this is a place for me to put some stuff, (a digital garden if you will).<br>have a poke around!</p>
    </div>
    </div>
</div>

<!-- Seperating line -->
<hr class = "line">


<article>
    <h3>here are some things i think are ok</h3>
    <div class = "card_grid">
        <div class="card">
            <a href = "/content/photo/Faves/index.html">
            <h5>Favourite photos</h5>
            <img src="{{ '/assests/stack_dither.jpg' | url }}" alt="Stacks">
            </a>
        </div>
        <div class="card">
            <a href = "/content/photo/Americana/index.html">
            <h5>Americana</h5>
            <img src="{{ '/assests/americana/americana (5).jpg' | url }}" alt="Stacks">
            </a>
        </div>
        <div class="card">
            <a href = "/content/photo/London/index.html">
            <h5>London photos</h5>
            <img src="{{ '/assests/london/london_7.jpg' | url }}" alt="Stacks">
            </a>
        </div>
    </div>
</article>
{{content | safe}}