---
layout: boilerplate.njk
---

<div class = "splash">
    <div class = "hero_img">
        <img src="{{ '/assests/tree.jpg' | url }}" alt="tree" class="tree">
    </div>
    <div class = "slugline">
        <h1>hi there! </h1>
        <p>This is a place for me to put some stuff, (a digital garden if you will).<br>Have a poke around!</p>
    </div>
    </div>
</div>

<!-- Seperating line -->
<hr class = "line">

<div class = "wiki">
    {{content | safe}}
</div>
