<nav>
    <ul class = "navi">
        <li><a href = "/about/index.html"> about</a> </li>
        <li><a href = "/list_page/blog_list/index.html">blog</a></li>
        <li>projects</li>
    </ul>
</nav>