/*------------- Global -------------*/
/*Global colour variables*/
:root {
	--b: #417A88;/*Background*/
	--f: #EBE33F;/*Foreground accent 1*/
	--f2: #B3B03D;/*Foreground accent 2*/
	--t: #FFFFFF;/*text*/

	
	--b: #efe8da;
	--f: #01383b;
	--t: #000000;
	
    --m: 20px;/*margin between elements*/
}
/*Initialise all*/
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: var(--t);
}

html {
    font-family: 'roboto', sans-serif;
    background-color: var(--b);
    color: var(--f);
	min-width: min-content;

}




/*----------------locals---------------------*/
/*Header*/
header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-style: solid;
    margin: var(--m);
}

.logo {
	/*border-style: solid;/*temp*/
}

.dither {
	height: 100px;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.navi {
	columns: 3;
	list-style-type: none;/*get rid of dots*/
	text-align: center;
	padding: 14px 16px;
}
.navi li a {
	display: block;
	border-style: solid;
	padding: 6px 16px;
}

/*-------------------------------------*/
/*Content/Main*/

main {
	margin: var(--m);
	border-style: solid;
	padding: 20px;
}

/*------Article-markdown styling-------*/
article {
	/*meta stuff*/
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 700px;
	border-style: solid;
	border-radius: 10px;

	list-style-position: inside;
}

article table {

	border-spacing: 0;
	border-collapse: collapse;
	display: block;
	width: max-content;
	max-width: 100%;
	overflow: auto;
}

table th {
	font-weight: 600;
  }
  
table th,
table td {
	padding: 6px 13px;
	border: 1px solid #30363d;
  }
  
table tr {
	background-color: var(--b);
	border-top: 1px solid #21262d;
  }
  
table tr:nth-child(2n) {
	background-color: rgba(0, 0, 0, 0.05);
  }
  
table img {
	background-color: transparent;
  }

article img {
	display: block;
	width: 100%;
	min-height: 20rem;
	max-height: 200vh;
	object-fit: cover;
	margin: 2rem auto;
  }

blockquote {
	margin: 2rem 0;
	padding: 0.5em 1rem;
	border-left: 3px solid #50723C;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 0 0.25rem 0.25rem 0;
  }

  code:not([class*="language"]) {
	font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
	font-size: 1.75ex;
	color: #444;
	background-color: rgba(0, 0, 0, 0.1);
	padding-right: 0.15em;
	padding-left: 0.15em;
  }

ul ul{
	margin-left:15px;
}


/*EXLUSIVE TO HOMPAGE*/
.splash {
	display: flex;
	flex-wrap: wrap; /*Enables the horizontal then vertial stacking*/
	align-items: center; /*keep children centred vertically*/
	justify-content: space-evenly; /*keep children centred horizontally*/
}
.slugline {
	border-style: groove;
	padding: 10px;
	margin: 15px;
}
.hero_img {
	object-fit: scale-down;
	padding: 15px;
}

/*-----------------*/
/*Links/map*/

.wiki {
	display: grid;
}


.wiki ul {
	columns: 3;
	list-style-type: none
}