/*-------------High level -------------*/
/*Global colour variables*/
:root {
	--b: #ECE8D6;
	--f: #606D75;
	--a: red
}

html {
    font-family: 'roboto', sans-serif;
    background-color: var(--b);
    color: var(--f);
}

/*Initialise all*/
* {
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
	text-decoration: none;
	min-width: fit-content;
}

body {
	display: grid;
	/*grid-gap: 2.06em;*/
	/*padding: 2em;*/
	max-width: 100%;
	font-size: 2em;
}

a {
	text-decoration: none;
	color: #606D75;
}

/*-------------------------------------*/
/*Header*/

/*--- Nav bar ---*/
header {
	/*border-style: solid;*/
}

.logo {
    float:left;
    text-align: center;
}

.navi {
	list-style-type: none;
	float: right;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
	columns: auto 3;
}
.navi li {
	border-style: solid;
	border-spacing: 30em;
}

/*-------------------------------------*/
/*--- main ---*/

main {
	border-style: solid;
	padding: 3em;
	font-size: .79em
}


.splash {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 2em;
	flex-wrap: wrap;
}

img {
	display: block;
	height:30em;
	padding: 1.5em;
}

.slugline {
	align-self: center;
}

/*--- Wiki ---*/
.wiki {
	display: grid;
	grid-gap: 2.06em;
}

.wiki section {
	display: grid;
	/*grid-template-columns: 1fr 3fr;*/
}

.wiki ul {
	columns: 3;
	list-style-type: none
}




/*Tablet styling*/
@media screen and (max-width:60em) {
	/*img {
		display: block;
		height: 10em;
		object-fit: contain;
	}*/

}

/*Phone styling*/
/*
@media screen and (max-width:30em) {
	body {
		/*padding: 2.59em
	}
	.wiki header,
	.wiki section {
		grid-template-columns: none;

	}
	.wiki ul {
		columns: auto 2;
		column-gap: 1.62em
	}

	.splash {
		display: block;
		justify-content: center;
	}

}*/