/*------------- Global -------------*/
/*Global colour variables*/
:root {
	--b: #417A88;/*Background*/
	--f: #EBE33F;/*Foreground accent 1*/
	--f2: #B3B03D;/*Foreground accent 2*/
	--t: #FFFFFF;/*text*/

	
	--b: #efe8da;
	--f: #01383b;
	--t: #000000;
	
    --m: 20px;/*margin between elements*/
}

html {
    font-family: 'roboto', sans-serif;
    background-color: var(--b);
    color: var(--f);
	max-width: 100%;

}

/*Initialise all*/
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	min-width: fit-content;
}


/*hyperlinks*/
a {
    text-decoration: none;
	color: var(--t);
}



/*----------------locals---------------------*/
/*Header*/
header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-style: solid;
    margin: var(--m);
}

.logo {
	/*border-style: solid;/*temp*/
}

.dither {
	height: 100px;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.navi {
	/*border-style: solid;/*temp*/
	columns: 3;
	list-style-type: none;/*get rid of dots*/
	text-align: center;
	padding: 14px 16px;
}
.navi li a {
	display: block;
	border-style: solid;
	padding: 6px 16px;
}

/*-------------------------------------*/
/*Content/Main*/

main {
	margin: var(--m);
	border-style: solid;
}

article {
	display: flex;
	flex-direction: column;
	list-style-position: inside;
}

ul ul{
	margin-left:15px;
}


/*EXLUSIVE TO HOMPAGE*/
.splash {
	display: flex;
	flex-wrap: wrap; /*Enables the horizontal then vertial stacking*/
	align-items: center; /*keep children centred vertically*/
	justify-content: space-evenly; /*keep children centred horizontally*/
}
.slugline {
	border-style: groove;
	padding: 10px;
	margin: 15px;
}
.hero_img {
	object-fit: scale-down;
	padding: 15px;
}

/*-----------------*/
/*Links/map*/


.wiki {
	display: grid;
}


.wiki ul {
	columns: 3;
	list-style-type: none
}
