
html {
    background-color: white;
}

main {
    border-style: solid;
    width: auto;
}
article {
    border-style: solid;
}


main img {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery_item {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}